@import "tailwindcss";

@theme {
  --color-sliit-blue: #053668;
  --color-sliit-orange: #FF7100;
  --color-sliit-yellow: #F7ECB5;
}

@utility no-scrollbar {
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
